{% extends "./base.html" %}
{% block title %} Gestión de rutinas {% endblock title %}
{% block style %}../static/css/gestionRutinas.css{% endblock style %}
{% block body %}
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">INICIO</li>
        <li class="nav__item">NOSOTROS</li>
        <li class="nav__item">CONTACTENOS</li>
        <li class="nav__item--company">
            <span class="nav__company-name">SPORTLIFE</span>
            <span class="nav__company-subtitle">FITNESS CLUB</span>
        </li>
        <li class="nav__item">PLANES</li>
        <li class="nav__item">HORARIOS</li>
        <li class="nav__item">PROGRAMAS</li>
        <li class="">
            <ul class="nav__social-list">
                <li class="nav__social-item">
                    <span class="iconify" data-icon="mdi:facebook" data-inline="false"></span>
                </li>
                <li class="nav__social-item">
                    <span class="iconify" data-icon="mdi:instagram" data-inline="false"></span>
                </li>
                <li class="nav__social-item">
                    <span class="iconify" data-icon="mdi:youtube" data-inline="false"></span>
                    <a href="#" class="iconify" data-icon="mdi:youtube"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<main class="main">
    <div class="content">
        <div class="content__filters">
            <form class="content__search-form" action="" method="get">
                <div class="content__search-wrapper">
                    <span class="iconify content__search-icon" data-icon="mdi:magnify" data-inline="false"></span>
                    <input class="content__search-input" type="text" name="search" placeholder="Buscar por nombre..." value="{{ request.GET.search }}">
                </div>
            </form>
            <a href="{% url 'registrarRutina' %}" class="content__create-button">Registrar</a>
        </div>
        <span class="content__total-rutinas">Total de rutinas: {{ rutinas|length }}</span>
        <table class="content__table">
            <thead class="content__table-head">
                <tr class="content__table-row">
                    <th class="content__table-header">#</th>
                    <th class="content__table-header">Imagen</th>
                    <th class="content__table-header">Nombre</th>
                    <th class="content__table-header">Frecuencia</th>
                    <th class="content__table-header">Horas Recomendadas</th>
                    <th class="content__table-header">Cliente</th>
                    <th class="content__table-header">Instructor</th>
                    <th class="content__table-header">Opciones</th>
                </tr>
            </thead>
            <tbody class="content__table-body">
                {% for r in rutinas %}
                <tr class="content__table-row">
                    <td class="content__table-data">{{ forloop.counter }}</td>
                    <td class="content__table-data">
                        <img src="{{ r.Imagen.url }}" alt="Imagen de la rutina" class="form__image" id="imagePreview" style="max-width: 75px; max-height: 75px;">
                    </td>
                    {{ rutina.imagen.url }}
                    <td class="content__table-data">{{ r.Nombre }}</td>
                    <td class="content__table-data">{{ r.Frecuencia }}</td>
                    <td class="content__table-data">{{ r.HorasRecomendadas }}</td>
                    <td class="content__table-data">{{ r.ClienteID.ClienteID.Nombre }} {{ r.ClienteID.ClienteID.Apellido  }}</td>
                    <td class="content__table-data">{{ r.InstructorID.Nombres }} {{ r.InstructorID.Apellidos }}</td>
                    <td class="content__table-data content__table-data-icons">
                        <a href="{% url 'visualizarRutina' r.RutinaID %}"  class="content__view-button">
                            <span class="iconify" data-icon="mdi:eye" data-inline="false"></span>
                        </a>
                        <a href="{% url 'editarRutina' r.RutinaID %}" class="content__edit-button">
                            <span class="iconify" data-icon="mdi:pencil" data-inline="false"></span>
                        </a>
                        <button onclick="confirmarEliminacion({{ r.RutinaID }})" class="content__delete-button">
                            <span class="iconify" data-icon="mdi:trash-can" data-inline="false"></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if mensaje %}
        <p class="content__mensaje">{{ mensaje }}</p>
        {% endif %}
    </div>
</main>



<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script>
    function confirmarEliminacion(rutinaId) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: '¡Eliminado!',
                    text: "La rutina fue eliminada con éxito.",
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    window.location.href = "{% url 'eliminarRutina' '0' %}".replace('0', rutinaId);
                });
            }
        });
    }

</script>
{% endblock %}
