{% extends "./base.html" %} 

{% block title %} Inicio {% endblock title %}
{% block style %}../static/css/menu.css{% endblock style %}

{% block body %}
    <div class="header">
        <div class="header__company">
            <span class="header__company-name">SPORTLIFE</span>
            <span class="header__company-subtitle">FITNESS CLUB</span>
        </div>
    </div>
    <div class="home">
        <a href="{% url 'gestionRutinas' %}" class="home__link">
            <i class="fas fa-dumbbell home__icon"></i>
            <span class="home__button-text">Rutinas</span>
        </a>
        <a href="#" class="home__link">
            <i class="fas fa-apple-alt home__icon"></i>
            <span class="home__button-text">Dietas</span>
        </a>
        <a href="#" class="home__link">
            <i class="fas fa-user-tie home__icon"></i>
            <span class="home__button-text">Entrenadores</span>
        </a>
        <a href="#" class="home__link">
            <i class="fas fa-chalkboard-teacher home__icon"></i>
            <span class="home__button-text">Clases</span>
        </a>
        <a href="#" class="home__link">
            <i class="fas fa-calendar-alt home__icon"></i>
            <span class="home__button-text">Horarios</span>
        </a>
        <a href="#" class="home__link">
            <i class="fas fa-envelope home__icon"></i>
            <span class="home__button-text">Contacto</span>
        </a>
    </div>
{% endblock body %}
