{% extends "base.html" %}

{% block title %}Visualizar Rutina{% endblock %}
{% block style %}../../static/css/registrarRutina.css{% endblock style %}

{% block body %}
<main class="main">
    <div class="form-container">
        <h3 class="form-container__title">Visualizar Rutina</h3>
        <form class="form">
            {% csrf_token %}
            <div class="form__row">
                <div class="container__image--view">
                    <img src="{{ rutina.Imagen.url }}" alt="Imagen de la rutina" class="form__image">
                </div>
            </div>
            <div class="form__field">
                <label for="ClienteID" class="form__label">Cliente</label>
                <input type="text" id="ClienteID" class="form__input" placeholder="Seleccionar cliente" readonly value="{{ rutina.ClienteID.ClienteID.Nombre }} {{ rutina.ClienteID.ClienteID.Apellido }}">
            </div>
            <div class="form__row--description">
                <div class="form__field">
                    <label for="Nombre" class="form__label">Nombre</label>
                    <input type="text" id="Nombre" class="form__input" placeholder="Nombre de la rutina" readonly value="{{ rutina.Nombre }}">
                </div>
                <div class="form__field">
                    <label for="Descripcion" class="form__label">Descripción</label>
                    <textarea id="Descripcion" class="form__input" placeholder="Descripción de la rutina" rows="3" readonly>{{ rutina.Descripcion }}</textarea>
                </div>
            </div>
            <div class="form__row">
                <div class="form__field">
                    <label for="TipoID" class="form__label">Tipo</label>
                    <select id="TipoID" class="form__input" disabled>
                        {% for tipo in tipos %}
                            <option value="{{ tipo.TipoDeRutinaID }}" {% if tipo.TipoDeRutinaID == rutina.TipoID_id %}selected{% endif %}>{{ tipo.Nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form__field">
                    <label for="Frecuencia" class="form__label">Frecuencia</label>
                    <select id="Frecuencia" class="form__input" disabled>
                        <option selected>{{ rutina.Frecuencia }}</option>
                    </select>
                </div>
            </div>
            <div class="form__row">
                <div class="form__field">
                    <label for="InstructorID" class="form__label">Instructor</label>
                    <select id="InstructorID" class="form__input" disabled>
                        {% for instructor in instructores %}
                            <option value="{{ instructor.InstructorID }}" {% if instructor.InstructorID == rutina.InstructorID_id %}selected{% endif %}>{{ instructor.Nombres }} {{ instructor.Apellidos }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form__field">
                    <label for="FechaInicio" class="form__label">Fecha de Inicio</label>
                    <input type="date" id="FechaInicio" class="form__input" readonly value="{{ rutina.FechaInicio|date:"Y-m-d" }}">
                </div>
            </div>
            <div class="form__row">
                <div class="form__field">
                    <label for="FechaFin" class="form__label">Fecha de Fin</label>
                    <input type="date" id="FechaFin" class="form__input" readonly value="{{ rutina.FechaFin|date:"Y-m-d" }}">
                </div>
                <div class="form__field">
                    <label for="HorasRecomendadas" class="form__label">Horas Recomendadas</label>
                    <input type="text" id="HorasRecomendadas" class="form__input" placeholder="Horas recomendadas" readonly value="{{ rutina.HorasRecomendadas }}">
                </div>
            </div>
            <div class="form__field">
                <label class="form__label">Objetivos</label>
                {% for objetivo in objetivos %}
                        <div class="form__input-group">
                            <div class="form__field">
                                <p>- {{ objetivo.Nombre }}</p>
                            </div>
                            <div class="form__field">
                                <input type="number" name="ObjetivosEstadoInicial{{ forloop.counter0 }}" step="0.01" class="form__input" placeholder="Estado inicial" readonly value="{{ objetivo.EstadoInicial }}">
                            </div>
                            <div class="form__field">
                                <input type="number" name="ObjetivosEstadoFinal{{ forloop.counter0 }}" step="0.01" class="form__input" placeholder="Estado final" readonly value="{{ objetivo.EstadoFinal }}">
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div class="form__row form__row--buttons">
                <button type="button" class="form__button form__button--cancel" onclick="window.history.back();">Volver</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
