.main {
    padding: 40px 200px;
} 

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content__search-wrapper {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
}

.content__search-input {
    border: none;
    outline: none;
    background: none;
    margin-left: 10px;
}

.content__search-icon {
    font-size: 20px;
}

.content__create-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.content__create-button:hover {
    background-color: #555;
}

.table-container {
    overflow-x: auto;
}

.content__table {
    width: 100%;
    border-collapse: collapse;
}

.content__table-head {
    background-color: #f4f4f4;
}

.content__table-row {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.content__table-header,
.content__table-data {
    padding: 12px 15px;
}

.content__table-data img {
    border-radius: 8px;
}

.content__table-body .content__table-row:hover {
    background-color: #f1f1f1;
}

.content__table-data-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content__view-button,
.content__edit-button,
.content__delete-button {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.content__table-data-icons .content__view-button .iconify,
.content__table-data-icons .content__edit-button .iconify,
.content__table-data-icons .content__delete-button .iconify {
    color: black; 
    font-size: 24px; 
}

@media (max-width: 768px) {

    .content__filters {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .main {
        padding: 40px 20px;
    } 
}
