
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    padding: 50px;
    width: 25%;
    height: 45%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login__company {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.login__company-name {
    font-size: 40px; 
    font-weight: bold;
    color: #0069FF;
}

.login__company-subtitle {
    font-size: 18px; 
    color: black;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; 
    font-family: 'Montserrat', sans-serif;
}

.login__input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login__button {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #0069FF;
    border-radius: 4px;
    background-color: #0069FF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login__button:hover {
    background-color: white;
    color: #0069FF;
}
