{% extends "base.html" %}
{% load static %}
{% block title %}Registrar Rutina{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularioRutina.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock extra_styles %}

{% block body %}
{% include "admin/navbar.html" %}
<main class="main" id="main">
    <div class="content">
        <div class="form-container">
            <h3 class="form-container__title">Agregar rutina</h3>
            <form class="form" action="{% url 'registrarRutina' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__row">
                    <div class="container__image">
                        <img src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg" alt="" class="form__image" id="imagePreview1">
                        <button type="button" class="remove__image" onclick="removeImage('imagePreview1', 'file-input1')">X</button>
                    </div>
                    <input type="file" id="file-input1" name="Imagen1" class="form__file-input" onchange="previewImage1(event)" accept=".jpg, .jpeg, .png">
                    <label for="file-input1" class="form__file-label">
                        Sube la primera imagen de la rutina (formatos aceptados: JPG, PNG)
                    </label>
                
                    <div class="container__image">
                        <img src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg" alt="" class="form__image" id="imagePreview2">
                        <button type="button" class="remove__image" onclick="removeImage('imagePreview2', 'file-input2')">X</button>
                    </div>
                    <input type="file" id="file-input2" name="Imagen2" class="form__file-input" onchange="previewImage2(event)" accept=".jpg, .jpeg, .png">
                    <label for="file-input2" class="form__file-label">
                        Sube la segunda imagen de la rutina (formatos aceptados: JPG, PNG)
                    </label>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="TipoID" class="form__label">Tipo</label>
                        <select id="TipoID" name="TipoID" class="form__input" required>
                            <option value="" selected disabled>Seleccione un tipo de rutina</option>
                            {% for tipo in tipos %}
                                <option value="{{ tipo.TipoDeRutinaID }}">{{ tipo.Nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form__field">
                        <label for="InstructorID" class="form__label">Instructor</label>
                        <select id="InstructorID" name="InstructorID" class="form__input" required>
                            <option value="" selected disabled>Seleccione un Instructor</option>
                            {% for instructor in instructores %}
                                <option value="{{ instructor.InstructorID }}">{{ instructor.Nombres }} {{ instructor.Apellidos }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form__field">
                        <label for="Frecuencia" class="form__label">Frecuencia</label>
                        <input type="text" id="Frecuenca" name="Frecuencia" class="form__input" placeholder="Ingresar la frecuencia" maxlength="50" required>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="FechaInicio" class="form__label">Fecha de Inicio</label>
                        <input type="date" id="FechaInicio" name="FechaInicio" class="form__input" required>
                    </div>
                    <div class="form__field">
                        <label for="FechaFin" class="form__label">Fecha de Fin</label>
                        <input type="date" id="FechaFin" name="FechaFin" class="form__input" required>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="ClienteID" class="form__label">Cliente</label>
                        <div class="form__input-group">
                            <input type="text" id="ClienteID" name="ClienteID" class="form__input" placeholder="Seleccionar cliente" readonly required>
                            <button type="button" class="form__button--popup" onclick="openClientSelection()">Seleccionar</button>
                        </div>
                    </div>
                </div>
                <div class="form__row--description">
                    <div class="form__field">
                        <label for="Nombre" class="form__label">Nombre</label>
                        <input type="text" id="Nombre" name="Nombre" class="form__input" placeholder="Ingresar nombre" maxlength="255" required>
                    </div>
                    <div class="form__field">
                        <label for="Descripcion" class="form__label">Descripción</label>
                        <textarea id="Descripcion" name="Descripcion" class="form__input" placeholder="Ingresar descripción" rows="3"></textarea>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="Objetivos" class="form__label">Objetivos</label>
                        <textarea name="Objetivos" id="Objetivos" class="form__input" required rows="4"></textarea>
                    </div>
                </div>
                <div class="form__field" id="objectives-container">
                    <label class="form__label">Metas</label>
                    <div class="form__input-group-objectives">
                        <p>¿Qué es lo que quieres reducir o aumentar?</p>
                        <button type="button" class="form__button--popup" onclick="addObjective()" id="buttonAddObjective">Agregar Meta</button>
                    </div>
                </div>
                <div class="form__row form__row--buttons">
                    <button type="button" class="form__button form__button--cancel" onclick="window.history.back();">Cancelar</button>
                    <button type="submit" class="form__button form__button--submit">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    let objectiveCount = 0;

    function previewImage1(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
            var imagePreviewContainer = document.getElementById('imagePreview1');
            imagePreviewContainer.src = reader.result;
        };
        reader.readAsDataURL(input.files[0]);
    }

    function previewImage2(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
            var imagePreviewContainer = document.getElementById('imagePreview2');
            imagePreviewContainer.src = reader.result;
        };
        reader.readAsDataURL(input.files[0]);
    }

    function removeImage(imageId, fileInputId) {
        var imagePreviewContainer = document.getElementById(imageId);
        imagePreviewContainer.src = "https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg";
        
        // Clear the file input value
        var fileInput = document.getElementById(fileInputId);
        fileInput.value = '';
    }

    function openClientSelection() {
        let clientsHTML = '';
        {% for cliente in clientes %}
            clientsHTML += `
                <div class="client-card" onclick="selectClient('{{ cliente.ClienteID.UsuarioID }}', '{{ cliente.ClienteID.Nombre }} {{ cliente.ClienteID.Apellido }} | Talla : {{ cliente.Talla}} | Porcentaje de grasa corporal : {{ cliente.PorcentajeGrasaCorporal }}')">
                    <h4>{{ cliente.ClienteID.Nombre }} {{ cliente.ClienteID.Apellido }}</h4>
                    <p>Talla: {{ cliente.Talla }}</p>
                    <p>Peso: {{ cliente.PorcentajeGrasaCorporal }}</p>
                    <p>Nivel: {{ cliente.NivelCondicionFisica }}</p>
                    <p>Objetivo: {{ cliente.ObjetivoPrincipal }}</p>
                </div>
            `;
        {% endfor %}

        Swal.fire({
            title: 'Seleccionar Cliente',
            html: `<div style="max-height: 300px; overflow-y: auto;">${clientsHTML}</div>`,
            width: 600,
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        });
    }

    function selectClient(clientId, clientName) {
        document.getElementById('ClienteID').value = clientName;
        document.getElementById('ClienteID').dataset.clientId = clientId;
        Swal.close();
    }

    function addObjective() {
        const container = document.getElementById('objectives-container');
        const newRow = document.createElement('div');
        newRow.className = 'form__input-group';
        newRow.innerHTML = `
            <div class="form__field">
                <input type="text" name="MetaNombre${objectiveCount}" id="MetaNombre${objectiveCount}" class="form__input" placeholder="Nombre de la meta" required>
            </div>
            <div class="form__field">
                <input type="number" name="MetaEstadoInicial${objectiveCount}" id="EstadoInicial${objectiveCount}" step="0.01" class="form__input" placeholder="Estado inicial" required>
            </div>
            <div class="form__field">
                <input type="number" name="MetaEstadoFinal${objectiveCount}" id="EstadoFinal${objectiveCount}" step="0.01" class="form__input" placeholder="Estado final" required>
            </div>
            <button type="button" class="form__button--remove-objective" onclick="removeObjective(this)">
                <span class="iconify" data-icon="mdi:trash-can" data-inline="false"></span>
            </button>
        `;
        container.appendChild(newRow);
        objectiveCount++;
    }

    function removeObjective(button) {
        button.parentElement.remove();
    }

    document.querySelector('form').addEventListener('submit', function(e) {
        const clientId = document.getElementById('ClienteID').dataset.clientId;
        const imageInput1 = document.getElementById('file-input1');
        const imageInput2 = document.getElementById('file-input2');

        if (!clientId) {
            e.preventDefault();
            Swal.fire('Error', 'Debes agregar al cliente', 'error');
            return;
        }

        const validExtensions = ['image/jpeg', 'image/jpg', 'image/png'];

        function isValidFile(file) {
            if (!validExtensions.includes(file.type)) {
                return false;
            }
            
            const filename = file.name;
            return filename.split('.').length === 2;
        }

        const imageFile1 = imageInput1.files.length ? imageInput1.files[0] : null;
        const imageFile2 = imageInput2.files.length ? imageInput2.files[0] : null;

        if (!imageFile1 && !imageFile2) {
            e.preventDefault();
            Swal.fire('Error', 'Debes subir al menos una imagen', 'error');
            return;
        }

        if ((imageFile1 && !isValidFile(imageFile1)) || (imageFile2 && !isValidFile(imageFile2))) {
            e.preventDefault(); 
            Swal.fire('Error', 'Las imágenes deben ser de formato JPG, JPEG o PNG', 'error');
            return;
        }

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'ClienteID';
        input.value = clientId;
        this.appendChild(input);
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipoRutinaSelect = document.getElementById('TipoID');
        const instructorSelect = document.getElementById('InstructorID');
        const fechaInicio = document.getElementById('FechaInicio');
        const fechaFin = document.getElementById('FechaFin');

        const today = new Date().toISOString().split('T')[0];

        fechaInicio.setAttribute('min', today);
        fechaFin.setAttribute('min', today);
            
        instructorSelect.disabled = true;
  
        tipoRutinaSelect.addEventListener('change', function () {
            const tipoRutinaID = this.value;
            objectiveCount = 0;

            if (tipoRutinaID) {
                instructorSelect.disabled = false;
                instructorSelect.innerHTML = '';

                const defaultOptionInstructor = document.createElement('option');
                defaultOptionInstructor.textContent = 'Seleccionar instructor';
                defaultOptionInstructor.disabled = true;
                defaultOptionInstructor.selected = true;
                defaultOptionInstructor.value = "";
                instructorSelect.appendChild(defaultOptionInstructor);

                fetch(`/obtener-instructores/?tipo_rutina_id=${tipoRutinaID}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(function (instructor) {
                            const option = document.createElement('option');
                            option.value = instructor.id;
                            option.textContent = instructor.nombre;
                            instructorSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching instructors:', error));


                fetch(`/obtener_metas_por_tipo_de_rutina/?tipo_rutina_id=${tipoRutinaID}`)
                    .then(response => response.json())
                    .then(data => {
                        const container = document.getElementById('objectives-container');
                        const addObjective = document.getElementById('buttonAddObjective');
                        
                        const inputGroups = container.querySelectorAll('.form__input-group');
                        inputGroups.forEach(group => group.remove());

                        if (data.length === 0) {
                            addObjective.disabled = false;
                        } else {
                            addObjective.disabled = true;
                            data.forEach(function(meta_predeterminada) {
                                const newRow = document.createElement('div');
                                newRow.className = 'form__input-group';
                                newRow.innerHTML = `
                                    <div class="form__field">
                                        <input type="text" name="MetaNombre${objectiveCount}" id="MetaNombre${objectiveCount}" value="${meta_predeterminada.nombre}" class="form__input" placeholder="Nombre de la meta" required readonly>
                                    </div>
                                    <div class="form__field">
                                        <input type="number" name="MetaEstadoInicial${objectiveCount}" id="EstadoInicial${objectiveCount}" step="0.01" class="form__input" placeholder="Estado inicial" required>
                                    </div>
                                    <div class="form__field">
                                        <input type="number" name="MetaEstadoFinal${objectiveCount}" id="EstadoFinal${objectiveCount}" step="0.01" class="form__input" placeholder="Estado final" required>
                                    </div>
                                `;
                                container.appendChild(newRow);
                                objectiveCount++;
                            });
                        }
                    })
                    .catch(error => console.error('Error fetching metas predeterminadas', error))
                
            } else {
                instructorSelect.disabled = true;
            }
        });
    });

</script>
{% endblock %}
