<nav class="navbar">
  <div class="navbar__logo">SPORTLIFE</div>
  <input type="checkbox" id="navbar-toggle" class="navbar__toggle"/>
  <label for="navbar-toggle" class="navbar__menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul class="navbar__menu">
    {% for option in options %}
      <li class="navbar__item">
        <a class="navbar__link" href="{{ option.url }}">
          <span class="iconify navbar__icon" data-icon="mdi:{{ option.icon }}" data-inline="false"></span>
          <span class="navbar__text">{{ option.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
