{% load static %}

<nav>
  <div class="logo">SPORTLIFE</div>
  <input type="checkbox" id="click" />
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li>
      <a class="link" href="/gestionRutinas">
        <span
          class="iconify sidebar__icon"
          data-icon="mdi:run"
          data-inline="false"
        ></span>
        <span class="sidebar__text">Rutinas</span>
      </a>
    </li>
    <li>
      <a class="link" href="#">
        <span
          class="iconify sidebar__icon"
          data-icon="mdi:account-tie"
          data-inline="false"
        ></span>
        <span class="sidebar__text">Instructores</span>
      </a>
    </li>
    <li>
      <a class="link" href="#">
        <span
          class="iconify sidebar__icon"
          data-icon="mdi:account"
          data-inline="false"
        ></span>
        <span class="sidebar__text">Clientes</span>
      </a>
    </li>
    <li>
      <a class="link" href="#">
        <span
          class="iconify sidebar__icon"
          data-icon="mdi:food-apple"
          data-inline="false"
        ></span>
        <span class="sidebar__text">Dietas</span>
      </a>
    </li>
    <li>
      <a class="link" href="#">
        <span
          class="iconify sidebar__icon"
          data-icon="mdi:comment"
          data-inline="false"
        ></span>
        <span class="sidebar__text">Comentarios</span>
      </a>
    </li>
  </ul>
</nav>

<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
